{% extends 'base.html' %}

{% block title %}
{% if place %}{{ place.name }}{% else %}Место{% endif %}
{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="/static/css/place_card.css">
{% endblock %}

{% block body %}
<div class="minimal-btn-container">
    <a class="minimal-btn" href="{{ url_for('list_places') }}?type={{ place.type }}">← К списку мест</a>
</div>
<h1  class="text">{{ place.name }}</h1>
<div class="place-image-container">
    <img class="place-image" src="{{ url_for('get_place_image', place_id=place.id) }}"
         alt="{{ place.name }}">
    <div>
        <div>
            ★ {{ place.average_rating|round(1) }} / 5
        </div>
        <div class="simply-text">{{ place.description }}</div>
        <form
                id="visitForm"
                method="POST" action="/"
                hx-post="/visited-places/"
                hx-target="#visit-result">
            <input type="hidden" name="place_id" value="{{ place.id }}">
            <div style = "display: flex; justify-content: center;"><button type="submit" class = 'visit_btn'>Я тут был</button></div>
        </form>

        <div id="visit-result"></div>
    </div>

<div>
    <h3>Оставить отзыв</h3>
    <form
            hx-post="/reviews/{{ place.id }}/reviews"
            id="reviewForm"
            method="POST" action="/"
            hx-trigger="submit">
        <input type="hidden" name="place_id" value="{{ place.id }}">
        <div>
            <label>Оценка (от 1 до 5):</label>
            <input
                type="number"
                name="rating"
                min="1"
                max="5"
                required>
        </div>
        <div>
            <label>Комментарий:</label>
            <textarea
                    class="minimal-textarea"
                    name="comment"
                    maxlength="500"
                    required
            ></textarea>
        </div>
        <button type="submit" class="btn-submit">Отправить</button>
    </form>
</div>

<div>
    <h3>Краткая сводка</h3>
    <div class="simply-text">{{summary}}</div>

</div>
<div>
    <h3>Комментарии</h3>
    {% for review in reviews %}
    <div>
        <span class="rating">★ {{ review.rating }}/5</span>
        <p class="comment">{{ review.comment }}</p>
    </div>
    {% endfor %}
</div>
</div>
    {% block scripts %}
    <script src="/static/js/token.js"></script>
    {% endblock %}


{% endblock %}


