{% extends 'base.html' %}

{% block title %}
{{ place.name }}
{% endblock %}

{% block body %}
<a href="{{ url_for('list_places') }}?type={{ place.type }}">← К списку мест</a>
<h1>{{ place.name }}</h1>
<div>
    <img src="{{ url_for('get_place_image', place_id=place.id) }}"
         alt="{{ place.name }}">
    <div>
        <div>
            ★ {{ place.average_rating|round(1) }} / 5
        </div>
        <div>{{ place.description }}</div>
        <form
                id="visitForm"
                method="POST" action="/"
                hx-post="/visited-places/"
                hx-target="#visit-result">
            <input type="hidden" name="place_id" value="{{ place.id }}">
            <button type="submit">Я тут был</button>
        </form>
         <div>{{ message }}</div>
        <div id="visit-result"></div>
    </div>
</div>
<div>
    <h3>Оставить отзыв</h3>
    <form
            hx-post="/reviews/{{ place.id }}/reviews"
            id="reviewForm"
            method="POST" action="/"
            hx-trigger="submit">
        <input type="hidden" name="place_id" value="{{ place.id }}">
        <div>
            <label>Оценка (от 1 до 5):</label>
            <input
                type="number"
                name="rating"
                min="1"
                max="5"
                required>
        </div>
        {% if message %}
            <div class="alert alert-{{ message_type }}">{{ message }}</div>
        {% endif %}
        <div>
            <label>Комментарий:</label>
            <textarea
                name="comment"
                maxlength="500"
                required
                ></textarea>
        </div>
        <button type="submit" class="btn-submit">Отправить</button>
    </form>
</div>

<div>
    <h3>Краткая сводка</h3>
    <div>{{summary}}</div>

</div>
<div>
    <h3>Комментарии</h3>
    {% for review in reviews %}
    <div>
        <span class="rating">★ {{ review.rating }}/5</span>
        <p class="comment">{{ review.comment }}</p>
    </div>
    {% endfor %}
</div>

    {% block scripts %}
    <script src="/static/js/token.js"></script>
    {% endblock %}


{% endblock %}


