<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/base.css">
  <script src="https://unpkg.com/htmx.org@1.9.6"></script>
  <script src="https://unpkg.com/htmx.org@1.9.6/dist/ext/json-enc.js"></script>
   {% block extra_head %}{% endblock %}
  <title>
    {% block title %} {% endblock %}
  </title>
</head>
<body>
  <div class="search-container">
    <img src="/static/img/logo.png" alt="logo" width="35" height="35">
    <!-- метод get нужен эндпоинт сос стороны бэка  -->
    <form action="/search" method="get" class="search-form">
      <input type="text" placeholder="Введите запрос..." name="q" class="search-input">
      <button type="submit" class="search-button">Найти</button>
    </form>
  </div>
  <div class="wrapper">
    <header class="container">
      <nav>
        <ul>
          <li class="active"><a href="/">Главная</a></li>
                <li><a href="/places?type=walk&page=1">Прогулки</a></li>
                <li><a href="/places?type=theatre&page=1">Театры</a></li>
                <li><a href="/places?type=museum&page=1">Музеи</a></li>
                <li><a href="/places?type=food&page=1">Рестораны</a></li>
        </ul>
      </nav>
    </header>

    {% block body %} {% endblock %}

    {% block footer %} {% endblock %}

  </div>
</body>
</html>