<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>web</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <script src="https://unpkg.com/htmx.org@1.9.6/dist/ext/json-enc.js"></script>
</head>
<body>


<!-- КОНТЕЙНЕР ПОИСКА -->
    <div class="search-container">
        <img src="/static/img/logo.png" alt="logo" width="35" height="35">
        <!-- метод get нужен эндпоинт сос стороны бэка  -->
        <form action="/search" method="get" class="search-form">
            <input type="text" placeholder="Введите запрос..." name="q" class="search-input">
            <button type="submit" class="search-button">Найти</button>
        </form>
    </div>
    <div class="wrapper">
    <header class="container">
        <nav>
            <ul>
                <li class="active"><a href="#">Главная</a></li>
                <li><a href="/places?type=walk&page=1">Прогулки</a></li>
                <li><a href="/places?type=theatre&page=1">Театры</a></li>
                <li><a href="/places?type=museum&page=1">Музеи</a></li>
                <li><a href="/places?type=food&page=1">Рестораны</a></li>
                <li><a href="#"  id="addPlaceBtn">Добавить место</a></li>
                <li><a href="#">Мои места</a></li>
                <!-- айдишник для js -->
                <li class="btn"><a href="#"  id="authButton">Войти</a></li>
            </ul>
        </nav>
    </header>
        <!-- одно комбинированное модальное окно -->
    <div id="authModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>

        <!-- контейнер для форм -->
            <div id="authForms">
            <!-- форма входа (показывается первой) -->
                <div id="loginForm">
                <h2>Вход</h2>
          <!-- hx-post="/jwt/login/"  Отправляет данные формы на сервер
           методом POST по указанному URL (/jwt/login/). hx-target="#authResponse" - указывает
            куда вставить ответ от сервера (блок для вывода ошибок)
            hx-swap="innerHTML" Определяет как вставлять ответ в целевой элемент (#authResponse).
            innerHTML (по умолчанию) — заменяет содержимое цели.-->
                <form
                        hx-post="/jwt/login/"
                        hx-target="#authResponse"
                        hx-swap="innerHTML">
                    <div>
                        <label for="username">Имя пользователя</label>
                        <input type="text" id="username" name="username" required>
                    </div>
                    <div>
                        <label for="password">Пароль</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <button type="submit" class="search-button">Войти</button>
                </form>
                <p>Нет аккаунта? <a href="#" id="showRegister">Зарегистрироваться</a></p>
            </div>

      <!-- Форма регистрации (скрыта по умолчанию) -->
            <div id="registerForm" style="display:none">
                <h2>Регистрация</h2>
                <form
                        hx-post="/users/"
                        hx-target="#authResponse"
                        hx-ext="json-enc">
                    <div>
                        <label for="regUsername">Имя пользователя</label>
                        <input type="text" id="regUsername" name="username" required>
                    </div>
                    <div>
                        <label for="regEmail">Email</label>
                        <input type="email" id="regEmail" name="email" required>
                    </div>
                    <div>
                        <label for="regPassword">Пароль</label>
                        <input type="password" id="regPassword" name="password" required>
                    </div>
                    <button type="submit" class="search-button">Зарегистрироваться</button>
                </form>
                <p>Уже есть аккаунт? <a href="#" id="showLogin">Войти</a></p>
            </div>
        </div>

    <!-- Блок для ошибок -->
         <div id="authResponse" class="notification"></div>
        </div>
    </div>



    <div id="addPlaceModal" class="modal">
        <div class="modal-content-places">
            <span class="close" onclick="hideAddPlaceForm()">&times;</span>
            <h2>Добавить новое место</h2>
            <form
                    id="addPlaceForm"
                    hx-post="/places/"
                    hx-target="#addPlaceResult"
                    hx-swap="none"
                    hx-encoding="multipart/form-data"
                    enctype="multipart/form-data">

                <div class="form-group">
                    <label for="placeName">Название*</label>
                    <input
                            type="text"
                            id="placeName"
                            name="name" required
                            oninvalid="this.setCustomValidity('Пожалуйста, введите название места')"
                            oninput="this.setCustomValidity('')">
                    <div class="invalid-feedback">Обязательное поле</div>
                </div>
                <div class="form-group">
                    <label for="placeDescription">Описание*</label>
                    <textarea
                            id="placeDescription"
                            name="description"
                            class="form-textarea"
                            required
                            minlength="10"
                            oninvalid="this.setCustomValidity('Описание должно быть не менее 10 символов')"
                            oninput="this.setCustomValidity('')"></textarea>
                    <div class="invalid-feedback">Минимум 10 символов</div>
                </div>
                <div class="form-group">
                    <label for="placeCategory">Категория*</label>
                    <select
                            id="placeCategory"
                            name="type" required>
                        <option value="">Выберите категорию</option>
                        <option value="museum">Музей</option>
                        <option value="theatre">Театр</option>
                        <option value="food">Ресторан</option>
                        <option value="walk">Прогулка</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="placeImage">Изображение*</label>
                    <input
                            type="file"
                            id="placeImage"
                            name="image_data"
                            accept="image/*"
                            required
                            oninvalid="this.setCustomValidity('Загрузите изображение')"
                            oninput="this.setCustomValidity('')">
                    <div class="invalid-feedback">Загрузите изображение</div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="submit-button">Сохранить</button>
                    <button type="button" onclick="window.hideAddPlaceForm()" class="cancel-button">Отмена</button>
                </div>
            </form>
            <div id="addPlaceResult" class="notification"></div>
        </div>
    </div>


    <div class="hero-info">
        <img style="float:right;padding: 40px 75px;" src="/static/img/1.jpeg" alt="Фото" width="650" height="450">
        <div class="info">
            <h3>Ваш персональный гид по интересному досугу</h3>
            <h1>Откройте новые грани своего досуга!</h1>
            <p style="padding-top:10px;">Мы найдём для вас самые интересные события, уникальные места и незабываемые впечатления.</p>
            <h2 style="padding-top:10px;">Исследуйте категории</h2>
            <section class="categories">
                <ul>
                  <li style="padding-top:10px;">🎭 Культура и искусство</li>
                  <li style="padding-top:10px;">🍽️ Гастрономия</li>
                  <li style="padding-top:10px;">🌳 Природа</li>
                </ul>
            </section>
        </div>
    </div>
    </div>

<script src="/static/js/main.js"></script>
</body>
</html>