{% extends "base.html" %}

{% block body %}
<h1>Мой профиль</h1>
<div class="profile-container">
    <div>
        <div>Имя пользователя: {{ user.username }}</div>
        <div>Почта: {{ user.email }}</div>
        <a href="/visited-places/my-places"
           hx-get="/visited-places/my-places"
           hx-target="body"
           hx-swap="innerHTML"
           hx-push-url="true">
            Мои места
        </a>
        <button>Выйти</button>
    </div>
</div>

<script>
document.getElementById('logout-btn').addEventListener('click', function() {
    // Удаляем токен из localStorage (если используется клиентское хранение)
    localStorage.removeItem('access_token');

    // Можно также удалить cookie (если токен хранится там)
    document.cookie = 'access_token=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';

    // Перенаправляем на главную страницу
    window.location.href = '/';
});
</script>
{% endblock %}