{% extends "base.html" %}

{% block body %}
<h1>Мой профиль</h1>
<div class="profile-container">
    <div>
        <div>Имя пользователя: {{ user.username }}</div>
        <div>Почта: {{ user.email }}</div>
        <a href="/visited-places/my-places"
           hx-get="/visited-places/my-places"
           hx-target="body"
           hx-swap="innerHTML"
           hx-push-url="true">
            Мои места
        </a>
        <button id = logout-btn>Выйти</button>
    </div>
</div>

<script>
document.getElementById('logout-btn').addEventListener('click', function() {
    localStorage.removeItem('access_token');
    window.location.href = '/';
});
</script>
{% endblock %}